<h1>React Calendar</h1>
<h2>Appointments</h2>
<div data="<%= @appointments.to_json %>" id="appointments_data"></div>
<%= javascript_pack_tag 'appointments' %>
<%= stylesheet_pack_tag 'appointments' %>

<style>
  body {
    width:500px;
    margin:auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 200px;
  }
</style>
